summary { display: list-item; }
body { background-color: #eee; }

main {
	background-color: white;
	min-height: 100vh;
	padding-top: 3em;
}

input.form-control {
	margin: 0.5em 0.1em;
	display: revert;
	width: revert;
}

button.glyphicon {
	top: -1px;
}

input.lhs-input {
	width: 7em;
	text-align: right;
}
input.rhs-input {
	width: 5em;
	min-width: 2em;
}



.ok-report { color: green; }
.bad-report { color: red; }

/*
.row-container {
	display: inline-flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
}
.sink-container {
	display: flex;
	flex-flow: row nowrap;
}
*/
